<header>
  <div class="logo">
    <h1>Task Manager</h1>
  </div>
  <div class="menu">
    <nav>
      <ul>
        <li *ngIf="signUp"><a routerLink="/sign-up" routerLinkActive="active-link">{{ signUp }}</a></li>
        <li *ngIf="signIn"><a routerLink="/sign-in" routerLinkActive="active-link"> {{ signIn }} </a></li>
        <li *ngIf="tasks"><a routerLink="/home-page/tasks" routerLinkActive="active-link"> {{ tasks }} </a></li>
        <li *ngIf="projects"><a routerLink="/home-page/projects" routerLinkActive="active-link"> {{ projects }} </a></li>
        <li *ngIf="isAuthenticated"><a routerLink="/" (click)="logout()"> Logout </a></li>
      </ul>
    </nav>
  </div>
</header>
